[metadata]
name = {{ projectName }}
version = {{ pythonProjectVersion }}
author = {{ projectAuthor }}
author_email = {{ projectAuthorEmail }}
description = {{ projectDescription }}
url = {{ projectUrl }}
project_urls =
    Bug Tracker = {{ projectBugTrackerUrl }}