name: integration tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.8' 
    - name: Install
      run: pip install -e .
    - name: Install packages needed by spikeinterface
      run: pip install h5py pandas networkx
    - name: Install packages needed for tests
      run: pip install pytest pytest-cov pyright black spikeforest
    - name: Run tests and collect coverage
      run: pyright && pytest --cov mountainsort5 --cov-report=xml --cov-report=term tests/
    - uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        fail_ci_if_error: true
        file: ./coverage.xml
        flags: unittests