name: Publish to PyPI.org
on:
  push:
    tags:
      - '*'
  workflow_dispatch:
jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install
      run: pip install -e .
    - name: Install packages needed by spikeinterface
      run: pip install h5py pandas networkx
    - name: Install packages needed for tests
      run: pip install pytest pytest-cov black pyright spikeforest
    - name: Run tests
      run: pyright && pytest tests/
    - name: Build
      run: python3 -m pip install --upgrade build && python3 -m build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.PYPI_API_TOKEN }}